@import "header"
@import "huddle"
@import "tab_items/tab_items"
@import "list_items/list_items"

@mixin sidebar
  aside.sidebar
    display: flex 
    background: $dim
    min-height: 100vh
    flex-direction: column
    justify-content: flex-start
    border: 1px solid $dark_gray

    .content
      clear: both
      height: 90%
      display: flex
      color: $light_gray
      overflow-y: scroll
      flex-direction: column

      @include tab_items
      @include list_items
      .slackbot
        background: none !important

      ::-webkit-scrollbar 
        display: none 

    @include header
    @include huddle
