.chatInput {
  width: 82vw;
  bottom: 24px;
  padding: 0 20px;
  position: fixed;

  .container {
    display: flex;
    height: 42px;
    border-radius: 4px;
    padding-left: 10px;
    align-items: center;
    border: 1px solid #8d8d8e;
    background: #222529;

    input {
      flex: 1;
      border: none;
      font-size: 13px;
      background: none;
      color: whitesmoke;
      &:focus { outline: none; }
      &::placeholder { color: #fff; }
    }

    a {
      width: 32px;
      border: none;
      display: flex;
      background: none;
      margin-right: 5px;
      align-items: center;
      justify-content: center;
      transform: rotate(90deg);
      // svg { ${props => activeIcon(props)} }
    }

    button {
      width: 32px;
      border: none;
      display: flex;
      cursor: pointer;
      margin-right: 5px;
      align-items: center;
      justify-content: center;
      background: none;
      transform: rotate(90deg);
      // svg { ${props => activeIcon(props)} }
    }
  }
}
