@mixin inputField {
  outline: 0;
  border: none;
  padding: 10px;
  background: none;
  color: whitesmoke;
  &::placeholder { color: whitesmoke; }

  // Chrome autocomplete
  &:-webkit-autofill,
  &:-webkit-autofill:hover, 
  &:-webkit-autofill:focus, 
  &:-webkit-autofill:active  {
    -webkit-text-fill-color: whitesmoke !important;
    -webkit-box-shadow: 0 0 0 30px #1c1c1c inset !important;
  }
}

@mixin btnSolid {
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  color: whitesmoke;
  font-weight: bold;
  border-radius: 3px;
  background: #2eb67d; 
  transition: all ease .2s;
  &:hover { 
    color: #2eb67d;
    background: none;
    outline: 2px solid #2eb67d;
  }
}
